# Changelog

All notable changes to this project will be documented in this file.

The format is based on [Keep a Changelog](https://keepachangelog.com/en/1.0.0/),
and this project adheres to [Semantic Versioning](https://semver.org/spec/v2.0.0.html).

{% for version, release in context.history.released.items() %}
## [{{ version.as_tag() }}]
{% for section, commits in release.items() %}
{% if commits %}

### {{ section | title }}
{% for commit in commits %}
- {{ commit.commit.message.split('\n')[0] }} ([{{ commit.commit.hexsha[:7] }}]({{ context.repo_url }}/commit/{{ commit.commit.hexsha }}))
{%- endfor %}
{% endif %}
{%- endfor %}
{% endfor %}

{% if context.history.released %}
{% set versions = context.history.released | list %}
{% for version in versions %}
{% if not loop.last %}
{% set prev_version = versions[loop.index] %}
[{{ version.as_tag() }}]: {{ context.repo_url }}/compare/{{ prev_version.as_tag() }}...{{ version.as_tag() }}
{% else %}
[{{ version.as_tag() }}]: {{ context.repo_url }}/releases/tag/{{ version.as_tag() }}
{% endif %}
{% endfor %}
{% endif %}